* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  padding: 100px 0 0px 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #0d233e;
}
